header{
    background: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
    position: fixed;
    z-index: 2;
 
}

