.projects{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.container-projects1{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 30px;

}
.container-projects1 > div{
     width: 300px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 10px;
   }
.container-projects2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    
   }
   .container-projects2 >div{
    width: 300px;
    height: 250px;
    background-color: #ffffff;
    border-radius: 10px;
    
   }