*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
:root{
    --color-primary:#1B222A;
    --color-fundo: #ffffff;
    --color-secundary: #5d9fe0;
}
html{
    
background-color: #eee;
scroll-behavior: smooth;
}

header{
height: 30px;
position: sticky;
top: 0px;
background-color: orangered;
}
main{


}
section{
    height: 100vh;
}
footer{
   
 height: 100px;
}